@model IEnumerable<ScentName>

    <h2 class="header-color">Scents</h2>
    <div style="display: block">
        <a class="kkbc-a" style="color:white;" href="/Products/InsertScent/">Create a New Scent</a>
    </div>
    <table class="table table-striped table-light border">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
        @foreach (var scent in Model)
        {
            <tr>
                <td><a href=/Products/ViewScent/@scent.ScentID>@scent.ScentID</a></td>
                <td>@scent.Name</td>
                <td>@scent.Description</td>
            </tr>
        }
    </table>

