@model Category

<h2 class="header-color">Update Category</h2>

@using (Html.BeginForm("UpdateCategoryToDatabase", "Products", "Post"))
{
    <input  asp-for="CatID" type="hidden" value="@Model.CatID" />

    <label asp-for="Name" class="control-label" style="color:white;">Name</label>

    <input type="text" name="Name" class="form-control" value="@Model.Name" />
    <br />
    <input  type="submit" value="Update Category" class="btn btn-primary btn-info" />

}

