@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color:white">Kingz of Kingz Beard Club</h1>

   
    <h2><a class="nav-link text-light" asp-area="" asp-controller="Customers" asp-action="InsertCustomer">Add a record in the Customers table</a></h2> 
    <h2><a class="nav-link text-light" asp-area="" asp-controller="Products" asp-action="InsertProduct">Add a record in the Products table</a> </h2>
    <h2><a class="nav-link text-light" asp-area="" asp-controller="Products" asp-action="InsertScent">Add a record in the Scent table </a></h2>
    <h2><a class="nav-link text-light" asp-area="" asp-controller="Products" asp-action="InsertCategory">Add a record in the Category table</a></h2>
    <h2><a class="nav-link text-light" asp-area="" asp-controller="Customers" asp-action="Index">View all Customers</a></h2>
    <h2><a class="nav-link text-light" asp-area="" asp-controller="Products" asp-action="Index">View all Products</a></h2>
    <h2><a class="nav-link text-light" asp-area="" asp-controller="Products" asp-action="GetAllScents">View all Scents</a></h2>
    <h2><a class="nav-link text-light" asp-area="" asp-controller="Products" asp-action="GetCategories">View all Categories</a></h2>
    <h2><a class="nav-link text-light" asp-area="" asp-controller="Products" asp-action="ProductReport">Product Report</a></h2>
    <h2><a class="nav-link text-light" asp-area="" asp-controller="Products" asp-action="StockLevelsReport">Stocklevels Report </a></h2>
 </div>
